
.openwindow {
  text-decoration: none;
  color: white;
}

.openwindow:hover,
.openwindow:active {
  color: white;
}

.more {
  color: white;
  border-radius: 50px; 
  background-color: rgba(30, 133, 98, 0.3); 
  border: 1px solid white;
  padding: 10px;
  width: 144px;
  font-size: 13px;
  position: absolute;
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0; 
  transition: opacity 0.5s ease; 
}
