body {
  width:1000px;
  margin: 0 auto;
}

.movies1 {
  text-align: center;
  width: 1000px;
  margin: auto;
  position: relative;
}

.movies1 ul {
  list-style:none;
  padding: 0;
  display: flex; 
  flex-wrap: wrap;
}

.movies1 ul li {
  display: inline-block; 
  margin: 20px; 
  width: 200px; 
  margin-bottom: 40px; 
}

.movies1 ul li img {
  width: 200px;
  height: 300px;
}